<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>
        <h1>Welcome to the Store</h1>
</header>
<body>
    <%- body %>
    </body>
    <footer>
        <p>&copy; 2024 Store. All rights reserved.</p>
    </footer>
</body></html>
